@charset "UTF-8";

/* estilização do index.html (tela de login) */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgb(44, 85, 181);
    color: white;
}

header > h1 {
    padding: 10px;
}

.campo-senha {
    margin-top: 0.5rem;
    gap: 1rem;
}

.campo-email > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 20rem;
}

.campo-senha > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 20rem;
}

.entrar .btn-entrar {
    margin-top: 1rem;
    background-color: rgb(69, 146, 176);
    height: 50px;

    width: 20rem;
    border: none;
    border-radius: 40px;

    color: white;
    font-size: 1em;
    font-weight: bold;

    cursor: pointer;
}

.recuperar-senha > a {
    text-decoration: none;
    color: gray;    
}

.cadastro > a {
    text-decoration: none;
    color: black;
}

.recuperar-senha > a:hover {
    border-bottom: 1px solid gray;
}

.cadastro > a:hover {
    border-bottom: 1px solid black;
}

/* estilização do cadastro.html (tela de cadastro) */

.campo-nome {
    margin-top: 1rem;
    gap: 1rem;
}

.campo-nome > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.user-email {
    margin-top: 1rem;
}

.user-email > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.user-senha {
    margin-top: 0.5rem;
    gap: 1rem;
}

.user-senha > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.campo-telefone {
    margin-top: 1rem;
    gap: 1rem;
}

.campo-telefone > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.campo-cpf {
    margin-top: 1rem;
    gap: 1rem;
}

.campo-cpf > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.confirm-password {
    margin-top: 1rem;
    gap: 1rem;
}

.confirm-password > input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.type-of-user {
    margin-top: 1rem;
    gap: 1rem;
}

.type-of-user > #tipo-usuario {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 20rem;
    height: 30px;
}

.btn-registrar > button {
    margin-top: 1rem;
    height: 40px;
    width: 20rem;

    background-color: lightgray;
    color: black;
    border: none;

    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-registrar > button:hover {
    background-color: darkgray;
    color: white;
}

.btn-voltar > button {
    margin-top: 0.5rem;
    height: 40px;
    width: 20rem;

    background-color: lightgray;
    color: black;
    border: none;

    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-voltar > button:hover {
    background-color: darkgray;
    color: white;
}

/* estilização de recuperar_senha.html (tela de recuperar senha) */

.input-email {
    margin-top: 1rem;
    gap: 1rem;
}

.input-email > #email {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(87, 87, 223);
    width: 20rem;
    height: 25px;
}

.btn-cancelar {
    margin-top: 1rem;
    gap: 1rem;
    border: none;

    color: blue;
    font-weight: bold;
    cursor: pointer;

    background-color: white;
}

.btn-recuperar {
    border: none;
    gap: 1rem;
    color: blue;

    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;

    background-color: white;
}

.btn-cancelar:hover {
    border-bottom: 1px solid blue;
}

.btn-recuperar:hover {
    border-bottom: 1px solid blue;
}

/* estilização de reset-password.html */

.btn-salvar {
    background-color: blue;
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    margin-left: 11rem;
    border: none;
    height: 37px;

    padding: 10px;
    font-size: 1rem;
    cursor: pointer;

    transition-duration: 0.5s;
}

.btn-salvar:hover {
    background-color: lightblue;
    color: blue;
}

#nova-senha {
    border: none;
    border-bottom: 1px solid blue;
    height: 25px;
    width: 16rem;
}

/* estilização da tela-principal.html */

.msg-verificar-email {
    color: rgb(127, 127, 127);
}

.btn-verificar {
    background-color: lightgray;
    font-weight: bold;
    border: none;

    display: flex;
    flex-direction: column;
    height: 2rem;

    padding: 0.5rem;
    width: 25rem;
    justify-content: center;

    align-items: center;
    transition-duration: 0.5s;
}

.btn-verificar:hover {
    cursor: pointer;
    background: darkgray;
    color: white;
}

.btn-logout {
    background-color: lightgray;
    font-weight: bold;
    border: none;

    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    height: 2rem;
    padding: 0.5rem;
    width: 25rem;

    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.btn-logout:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
}

.btn-save-location {
    background-color: lightgray;
    font-weight: bold;
    border: none;

    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    height: 2rem;
    padding: 0.5rem;
    width: 25rem;

    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.btn-save-location:hover {
    cursor: pointer;
    background-color: darkgray;
    color: white;
}

.form-tela-principal {
    margin-top: 1rem;
    position: relative;
}

#endereço {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 25rem;
}

.input-endereço {
    margin-top: 1rem;
    gap: 1rem;
}

.input-type-of-trash {
    margin-top: 1rem;
    gap: 1rem;
}

.checkbox-type-of-trash {
    margin-top: 1rem;
    gap: 1rem;
}

.input-house-number {
    gap: 1rem;
    margin-top: 1rem;
}

#email {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 25rem;
    height: 30px;
}

#house-number {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 7.5rem;
    height: 30px;
}

.header-tela-principal {
    display: block;
    flex-direction: column;
}

.header-tela-principal .material-symbols-outlined {
    margin-left: 80rem;
    display: inline-block;
    width: 0.5px;
    text-align: center;
}

/* estilização da redefinir-senha.html */

#redefinir-senha {
    border: none;
    border-bottom: 1px solid blue;
    width: 25rem;

    height: 2rem;
    outline: none;
}

#confirme-sua-senha {
    border: none;
    border-bottom: 1px solid blue;
    width: 25rem;

    height: 2rem;
    outline: none;
}

.container-confirma-senha {
    margin-top: 1rem;
}

.container-button {
    margin-top: 1rem;
}

.btn-salvar-senha {
    border: none;
    height: 2rem;
    font-weight: bold;

    background: lightgray;
    width: 25rem;
    transition-duration: 0.5s;
}

.btn-salvar-senha:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

/* estilização de atualizar-email.html */

#atualiza-email {
    border: none;
    border-bottom: 1px solid blue;
    height: 2rem;

    outline: none;
    width: 20rem;
}

.btn-reset {
    border: none;
    background-color: white;
    font-weight: bold;

    color: blue;
    margin-left: 1rem;
    margin-top: 1rem;

    cursor: pointer;
}

.btn-reset:hover {
    border-bottom: 1px solid blue;
}

.btn-cancel {
    border: none;
    background-color: white;
    font-weight: bold;

    color: blue;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-cancel:hover {
    border-bottom: 1px solid blue;
}